// colors
$main: #f3f3f3;
$white: #ffffff;
$gray: #5F6379;
$blue: #3688FF;

// opacity 25%
$transparent-25--gray: #5f637940;
$transparent-25--blue: #3688ff40;

// opacity 15%
$transparent-15--gray: #5f637927;
$transparent-15--blue: #3888ff26;

// opacity 5%
$transparent-05--blue: #3888ff0d;
